/* main style */
html,
body {
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
}

.row {
  margin: 0;
}

.font-zh {
  font-family: "Noto Sans TC", sans-serif;
}

.font-en {
  font-family: "Roboto Condensed", sans-serif;
}

.bg-blue {
  background: #4f91a2;
}
.text-blue {
  color: #4f91a2;
}
.bg-yellow {
  background: #f4e664;
}
.text-yellow {
  color: #f4e664;
}
/* .bg-yellow {
  background: #efd06e;
}
.text-yellow {
  color: #efd06e;
} */
.opacity-05 {
  opacity: 0.5;
}

/* firstPage */
#firstPage img {
  height: 150px;
  width: 150px;
  box-shadow: 0 10px 30px -13px #333;
}

#firstPageText {
  -moz-transform: rotate(-6deg);
  -webkit-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
  -ms-transform: rotate(-6deg);
  transform: rotate(-6deg);
  opacity: 0.8;
  text-shadow: 1px 1px 4px rgb(235, 235, 235);
}

.scroll {
  position: absolute;
  bottom: 10px;
  cursor: pointer;
}

.scroll a i {
  font-size: 30px;
  animation: pagedown 2s ease-in-out infinite;
}

@keyframes pagedown {
  0% {
    transform: translate(0, -22%);
  }
  50% {
    text-shadow: 0 0 20px #fff;
  }
  100% {
    transform: translate(0, 33%);
  }
}

/* left navbar */
#navbarLeft img {
  object-fit: cover;
  box-shadow: 0 10px 30px -10px rgb(39, 39, 39);
  border-radius: 50%;
}

#navbarLeft .col,
.col-2,
.col-10 {
  padding: 10px 0;
}

#navbarLeft ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#navbarLeft li {
 cursor: pointer;
}

#navbarLeft li:hover {
 transform: translate(0,-3px);
}

#sidenav{
  box-shadow: 0px 20px 20px rgb(170, 169, 169);
}

#profileImg{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#narbarList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
#navbarLeft{
  text-shadow:3px 3px 15px #396c79;
}

#container{
  text-shadow:none;
}

#copyright {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#skills li {
  cursor: text;
 }
 
 #skills li:hover {
  transform: none;
 }

 /* 
 藍到白
 background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%); 
 綠到黃
 background-image: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);
 粉到橘
 background-image: linear-gradient(-45deg, #FFC796 0%, #FF6B95 100%);
 
 
 */